.services {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    width: 970px;
  }
}

.services__title {
  @extend %title;
  margin-bottom: 25px;
}

.services__description {
  @extend %text;
  text-align: center;
  margin-bottom: 50px;
}

.services__list {
  width: 100%;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.services__item {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 25px 0 35px 0;
  margin-bottom: 20px;

  background-color: var(--second-bg-color);

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 5px * 6) / 3);
    margin-bottom: 0;
  }
}

.services__icon {
  fill: var(--accent-bg-color);
  margin-bottom: 25px;
}

.services__subtitle {
  @extend %subtitle;
  margin-bottom: 15px;
}

.services__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 10px;

  background-color: var(--second-bg-color);
  transition: transform 250ms linear;

  .services__item:hover &,
  .services__item:focus & {
    transform: translateY(0);
  }
}

.services__name {
  @extend %subtitle;
  margin-bottom: 22px;
}

.services__detalis {
  @extend %text;
  text-align: center;
  margin-bottom: 27px;
}
