.footer {
  padding: 10px 0 10px 0;

  background-color: var(--second-bg-color);
  text-align: center;

  @media screen and (min-width: $desktop) {
    width: 970px;
  }
}

.footer__text {
  font-size: 15px;
  line-height: 1.6;
  color: var(--second-text-color);
}

.footer__logo {
  display: inline-block;
  letter-spacing: 2px;
  border: 1px solid #000000;

  padding: 8px;
  margin-left: 15px;
}
