.footer {
  width: 100%;
  padding: 18px 0 18px 0;

  background-color: var(--second-bg-color);
  text-align: center;
}

.footer__text {
  font-size: 15px;
  line-height: 1.6;
  color: var(--second-text-color);
}

.footer__logo {
  letter-spacing: 2px;
  border: 1px solid #000000;

  padding: 8px;
  margin-left: 15px;
}
