.work {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    width: 970px;
  }
}

.work__title {
  @extend %title;
  margin-bottom: 25px;
}

.work__description {
  @extend %text;
  text-align: center;
  margin-bottom: 50px;
}

.work__list {
  padding: 47px 30px 40px 30px;
  width: 100%;

  background-color: var(--second-bg-color);
}

.work__item {
  margin-bottom: 30px;
  border-bottom: 1.5px solid #f0f0f6;

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.work__left {
  min-width: 250px;
  margin-right: 20px;

  @media screen and (min-width: $tablet) {
    width: 65%;
  }
}

.work__name {
  @extend %subtitle;
  margin-bottom: 30px;
  text-decoration: none;
}

.work__group {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.work__interval {
  font-size: 10px;
  line-height: 1.1;
  color: #ffffff;
  background-color: var(--accent-bg-color);
  padding: 4px 7px;
}

.work__right {
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    width: 25%;
  }
}

.work__text {
  @extend %text;
  text-transform: none;
  margin-bottom: 30px;
}
