.languages {
  border-bottom: 1.5px solid #f0f0f6;
  margin-bottom: 25px;
}

.languages__title {
  @extend %subtitle;
  margin-bottom: 15px;
}

.languages__list {
  margin-bottom: 25px;
}

.languages__item {
  @extend %text;
  margin-bottom: 10px;
}

.languages__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
}

.languages__progress {
  width: 100%;
  height: 4px;
  background-color: var(--second-bg-color);

  &::-webkit-progress-bar {
    border: 1px solid var(--accent-bg-color);
    border-radius: 5px;
    background-color: var(--second-bg-color);
    overflow: hidden;
  }

  &::-webkit-progress-value {
    background-color: var(--accent-bg-color);
  }

  &::-moz-progress-bar {
    border: 1px solid var(--accent-bg-color);
    border-radius: 5px;
    background-color: var(--second-bg-color);
    overflow: hidden;
  }

  &::-moz-progress-value {
    background-color: var(--accent-bg-color);
  }
}
