.backdrop-2 {
  @extend %backdrop;
  z-index: 999;

  &.is-hidden .profile {
    transform: translateX(-100%);
  }

  & .profile {
    transform: translateX(0);
  }
}

.profile {
  position: fixed;
  top: 0;
  left: 0;

  width: 80vw;
  height: 100vh;

  padding: 15px 15px 15px 15px;

  background-color: var(--second-bg-color);
  overflow-y: auto;
  transition: transform 250ms linear 300ms;

  @media screen and (min-width: $tablet) {
    width: 50vw;
  }
}
