.personal-data {
  border-bottom: 1.5px solid #f0f0f6;
  margin-bottom: 25px;
}

.personal-data__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 25px;
  }
}

.personal-data__name {
  font-size: 15px;
  line-height: 1.6;

  color: var(--second-text-color);
  background-color: var(--accent-bg-color);

  padding: 0 5px 0 5px;
}

.personal-data__value {
  font-size: 15px;
  line-height: 1.6;
  color: var(--second-text-color);

  &--color {
    color: #7eb942;
  }
}
