.social {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.social__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  background-color: var(--accent-bg-color);
  color: var(--second-text-color);

  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--second-text-color);
    color: var(--second-bg-color);
  }
}

.social__icon {
  fill: currentColor;
}
