@import './slider';

.recommendations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommendations__title {
  @extend %title;
  margin-bottom: 25px;
}

.recommendations__description {
  @extend %text;
  text-align: center;
  width: 440px;
  margin-bottom: 50px;
}
