.dark-mode {
  --main-text-color: #f1f1f1;
  --second-text-color: #919191;
  --white-text-color: #000000;
  --accent-text-color: #ffb400;
  --main-bg-color: #333333;
  --second-bg-color: #616161;
  --accent-bg-color: #ffb400;
  --overlay-bg-color: rgba(255, 180, 0, 0.95);
  --link-bg-color: #919191;
}
