%button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 5px;

  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  background-color: var(--accent-bg-color);
  color: var(--second-text-color);
  cursor: pointer;

  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--second-text-color);
    color: var(--second-bg-color);
  }
}
