<div class="section section--hero" id="hero">
  <div class="hero">
    <!-- Right side -->
    <div class="hero__meta">
      <h1 class="hero__title">
        I’m Bohdan Strilets <span class="hero__title--color">Front-end</span> Developer
      </h1>
      <p class="hero__description">
        Hello, I'm a Juniorr front-end developer. I am constantly researching and developing new
        technologies and best practices. Currently my stack consists of HTML5, CSS3, JS, React.
        Looking for a job in an office with the ability to work remotely. My level of English is
        below average, but I have already begun to improve it. Attentive to details, I like to learn
        something new, progress never stands still.
      </p>
      <a class="hero__link" href="#contact"
        >HIRE ME
        <svg class="hero__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-left"></use>
        </svg>
      </a>
    </div>

    <!-- Left side -->
    <div class="hero__wrapper">
      <img
        class="hero__image"
        src="./images/hero//img.jpg"
        alt="Bohdan Strilets Front-end Developer"
      />
    </div>
  </div>
</div>
