<div class="section">
  <div class="hero">
    <!-- Right side -->
    <div class="hero__meta">
      <h1 class="hero__title">I’m Rayan Adlrdard <span>Front-end</span> Developer</h1>
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat
        lobortis. Natoque rutrum semper sed suspendisse nunc lectus.
      </p>
      <button class="hero__button">
        HIRE ME
        <svg class="hero__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-left"></use>
        </svg>
      </button>
    </div>

    <!-- Left side -->
    <div class="hero__wrapper">
      <img class="hero__image" src="" alt="" />
    </div>
  </div>
</div>
