<ul class="mobile-menu">
  <li class="mobile-menu__item">
    <button class="mobile-menu__button" type="button" data-profile>
      <svg class="mobile-menu__icon" width="25" height="25">
        <use href="./images/sprite.svg#icon-profile"></use>
      </svg>
    </button>
  </li>
  <li class="mobile-menu__item">
    <button class="mobile-menu__button" type="button" data-menu>
      <svg class="mobile-menu__icon" width="25" height="25">
        <use href="./images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </li>
</ul>
