<div class="section partners">
  <ul class="partners__list">
    <li class="partners__item">
      <svg width="140" height="140">
        <use href="./images/sprite.svg#icon-vscode"></use>
      </svg>
    </li>
    <li class="partners__item">
      <svg width="140" height="140">
        <use href="./images/sprite.svg#icon-js"></use>
      </svg>
    </li>
    <li class="partners__item">
      <svg width="140" height="140">
        <use href="./images/sprite.svg#icon-react"></use>
      </svg>
    </li>
    <li class="partners__item">
      <svg width="140" height="140">
        <use href="./images/sprite.svg#icon-node"></use>
      </svg>
    </li>
  </ul>
</div>
