<section class="section portfolio" id="portfolio">
  <h2 class="portfolio__title">Portfolio</h2>
  <p class="portfolio__description">"The old bug is better than the new two."</p>

  <!-- List -->
  <ul class="gallery">
    <li class="gallery__item">
      <a class="gallery__link" href="https://boguszz.github.io/notes/">
        <img
          class="gallery__images"
          src="./images/portfolio/1.png"
          alt="List of personal notes."
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <h3 class="gallery__overlay-title">Notes</h3>
        <p class="gallery__overlay-subtitle">List of personal notes.</p>
        <ul class="gallery__overlay-list">
          <li class="gallery__overlay-item">
            <a
              class="gallery__overlay-link"
              href="https://boguszz.github.io/notes/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="gallery__overlay-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-marker"></use>
              </svg>
              View live page
            </a>
          </li>
          <li class="gallery__overlay-item">
            <a
              class="gallery__overlay-link"
              href="https://github.com/Boguszz/notes"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="gallery__overlay-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-marker"></use>
              </svg>
              View page code
            </a>
          </li>
        </ul>
        <p class="gallery__overlay-text">
          A small web application adapted to all devices. Written in pure JS. There is the ability
          to add, delete and change the created note.
        </p>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="https://boguszz.github.io/todos/">
        <img
          class="gallery__images"
          src="./images/portfolio/2.png"
          alt="Your personal todo list."
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <h3 class="gallery__overlay-title">TODOS List</h3>
        <p class="gallery__overlay-subtitle">Your personal todo list.</p>
        <ul class="gallery__overlay-list">
          <li class="gallery__overlay-item">
            <a
              class="gallery__overlay-link"
              href="https://boguszz.github.io/todos/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="gallery__overlay-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-marker"></use>
              </svg>
              View live page
            </a>
          </li>
          <li class="gallery__overlay-item">
            <a
              class="gallery__overlay-link"
              href="https://github.com/Boguszz/todos"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="gallery__overlay-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-marker"></use>
              </svg>
              View page code
            </a>
          </li>
        </ul>
        <p class="gallery__overlay-text">
          Standard web application for every portfolio. I also made my own variation.
        </p>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="https://arviscode.github.io/project--ice-cream/">
        <img
          class="gallery__images"
          src="./images/portfolio/3.png"
          alt="Ice cream made with passion."
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <h3 class="gallery__overlay-title">ICECREAM</h3>
        <p class="gallery__overlay-subtitle">Ice cream made with passion.</p>
        <ul class="gallery__overlay-list">
          <li class="gallery__overlay-item">
            <a
              class="gallery__overlay-link"
              href="https://arviscode.github.io/project--ice-cream/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="gallery__overlay-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-marker"></use>
              </svg>
              View live page
            </a>
          </li>
          <li class="gallery__overlay-item">
            <a
              class="gallery__overlay-link"
              href="https://github.com/ArvisCode/project--ice-cream"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="gallery__overlay-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-marker"></use>
              </svg>
              View page code
            </a>
          </li>
        </ul>
        <p class="gallery__overlay-text">
          The first team project on the course, after layout. Created the header for the site
          including mobile menu and navigation.
        </p>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="https://arviscode.github.io/filmoteka/">
        <img
          class="gallery__images"
          src="./images/portfolio/4.png"
          alt="Application for finding and storing your favorite movies."
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <h3 class="gallery__overlay-title">FILMOTEKA</h3>
        <p class="gallery__overlay-subtitle">
          Application for finding and storing your favorite movies.
        </p>
        <ul class="gallery__overlay-list">
          <li class="gallery__overlay-item">
            <a
              class="gallery__overlay-link"
              href="https://arviscode.github.io/filmoteka/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="gallery__overlay-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-marker"></use>
              </svg>
              View live page
            </a>
          </li>
          <li class="gallery__overlay-item">
            <a
              class="gallery__overlay-link"
              href="https://github.com/ArvisCode/filmoteka"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="gallery__overlay-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-marker"></use>
              </svg>
              View page code
            </a>
          </li>
        </ul>
        <p class="gallery__overlay-text">
          Team work at the end of the JS course. I've been building here:
        </p>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="https://boguszz.github.io/car-history/">
        <img
          class="gallery__images"
          src="./images/portfolio/5.png"
          alt="Application for keeping the history of your car."
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <h3 class="gallery__overlay-title">CAR HISTORY</h3>
        <p class="gallery__overlay-subtitle">Application for keeping the history of your car.</p>
        <ul class="gallery__overlay-list">
          <li class="gallery__overlay-item">
            <a
              class="gallery__overlay-link"
              href="https://boguszz.github.io/car-history/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="gallery__overlay-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-marker"></use>
              </svg>
              View live page
            </a>
          </li>
          <li class="gallery__overlay-item">
            <a
              class="gallery__overlay-link"
              href="https://github.com/Boguszz/car-history"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="gallery__overlay-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-marker"></use>
              </svg>
              View page code
            </a>
          </li>
        </ul>
        <p class="gallery__overlay-text">
          Web application adapted to all types of devices. To keep track of your car's costs.
        </p>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="https://boguszz.github.io/goit-markup-hw-08/">
        <img
          class="gallery__images"
          src="./images/portfolio/6.png"
          alt="Portfolio for a small web studio."
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <h3 class="gallery__overlay-title">WebStudio</h3>
        <p class="gallery__overlay-subtitle">Portfolio for a small web studio.</p>
        <ul class="gallery__overlay-list">
          <li class="gallery__overlay-item">
            <a
              class="gallery__overlay-link"
              href="https://boguszz.github.io/goit-markup-hw-08/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="gallery__overlay-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-marker"></use>
              </svg>
              View live page
            </a>
          </li>
          <li class="gallery__overlay-item">
            <a
              class="gallery__overlay-link"
              href="https://github.com/Boguszz/goit-markup-hw-08"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="gallery__overlay-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-marker"></use>
              </svg>
              View page code
            </a>
          </li>
        </ul>
        <p class="gallery__overlay-text">
          First project in the course. Here I went from the basics of HTML to a full-fledged
          cross-browser and adaptive layout.
        </p>
      </div>
    </li>
  </ul>
</section>
