<section class="section portfolio">
  <h2 class="portfolio__title">Portfolio</h2>
  <p class="portfolio__description">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
    consequat duis enim velit mollit. lorem ipsum
  </p>

  <!-- Sorting -->
  <form class="portfolio__filter filter">
    <label class="filter__label">
      <input class="filter__input" type="radio" name="filter" checked />
      <span> All categories</span>
    </label>
    <label class="filter__label">
      <input class="filter__input" type="radio" name="filter" />
      <span> UI Design</span>
    </label>
    <label class="filter__label">
      <input class="filter__input" type="radio" name="filter" />
      <span> Web Templates</span>
    </label>
    <label class="filter__label">
      <input class="filter__input" type="radio" name="filter" />
      <span> Logo</span>
    </label>
    <label class="filter__label">
      <input class="filter__input" type="radio" name="filter" />
      <span> Branding</span>
    </label>
  </form>

  <!-- List -->
  <ul class="gallery">
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img
          class="gallery__images"
          src="./images/portfolio/1.png"
          alt=""
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img
          class="gallery__images"
          src="./images/portfolio/2.png"
          alt=""
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img
          class="gallery__images"
          src="./images/portfolio/3.png"
          alt=""
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img
          class="gallery__images"
          src="./images/portfolio/4.png"
          alt=""
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img
          class="gallery__images"
          src="./images/portfolio/5.png"
          alt=""
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img
          class="gallery__images"
          src="./images/portfolio/6.png"
          alt=""
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img
          class="gallery__images"
          src="./images/portfolio/7.png"
          alt=""
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img
          class="gallery__images"
          src="./images/portfolio/8.png"
          alt=""
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img
          class="gallery__images"
          src="./images/portfolio/9.png"
          alt=""
          width="310"
          height="300"
        />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
  </ul>
</section>
