<section class="portfolio">
  <h2 class="portfolio__title">Portfolio</h2>
  <p class="portfolio__description">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
    consequat duis enim velit mollit. lorem ipsum
  </p>

  <!-- Sorting -->
  <form class="portfolio__filter filter">
    <label class="filter__label">
      All categories
      <input class="filter__input" type="radio" name="filter" />
    </label>
    <label class="filter__label">
      UI Design
      <input class="filter__input" type="radio" name="filter" />
    </label>
    <label class="filter__label">
      Web Templates
      <input class="filter__input" type="radio" name="filter" />
    </label>
    <label class="filter__label">
      Logo
      <input class="filter__input" type="radio" name="filter" />
    </label>
    <label class="filter__label">
      Branding
      <input class="filter__input" type="radio" name="filter" />
    </label>
  </form>

  <!-- List -->
  <ul class="gallery">
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img class="gallery__images" src="" alt="" width="310" height="300" />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img class="gallery__images" src="" alt="" width="310" height="300" />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img class="gallery__images" src="" alt="" width="310" height="300" />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img class="gallery__images" src="" alt="" width="310" height="300" />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img class="gallery__images" src="" alt="" width="310" height="300" />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img class="gallery__images" src="" alt="" width="310" height="300" />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img class="gallery__images" src="" alt="" width="310" height="300" />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img class="gallery__images" src="" alt="" width="310" height="300" />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
    <li class="gallery__item">
      <a class="gallery__link" href="#">
        <img class="gallery__images" src="" alt="" width="310" height="300" />
      </a>
      <div class="gallery__overlay">
        <svg class="gallery__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-open"></use>
        </svg>
      </div>
    </li>
  </ul>
</section>
