<div class="backdrop is-hidden">
  <div class="menu">
    <!-- Change theme -->
    <div class="menu__theme m-theme">
      <button class="m-theme__button" data-mTheme>
        <svg class="m-theme__icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-contrast"></use>
        </svg>
      </button>
    </div>

    <!-- Navigation -->
    <ul class="menu__navigations m-navigations">
      <li class="m-navigations__item">
        <a class="m-navigations__link" href="#hero">
          <svg class="m-navigations__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-home"></use>
          </svg>
          Home
        </a>
      </li>
      <li class="m-navigations__item">
        <a class="m-navigations__link" href="#portfolio">
          <svg class="m-navigations__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-portfolio"></use>
          </svg>
          Portfolio
        </a>
      </li>
      <li class="m-navigations__item">
        <a class="m-navigations__link" href="#service">
          <svg class="m-navigations__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-services"></use>
          </svg>
          Service
        </a>
      </li>
      <li class="m-navigations__item">
        <a class="m-navigations__link" href="#experience">
          <svg class="m-navigations__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-experience"></use>
          </svg>
          Experience
        </a>
      </li>
      <li class="m-navigations__item">
        <a class="m-navigations__link" href="#education">
          <svg class="m-navigations__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-education"></use>
          </svg>
          Education
        </a>
      </li>
      <li class="m-navigations__item">
        <a class="m-navigations__link" href="#contact">
          <svg class="m-navigations__icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-contact"></use>
          </svg>
          Contact
        </a>
      </li>
    </ul>
  </div>
</div>
