<aside class="right-aside">
  <!-- Change theme -->
  <div class="right-aside__theme theme">
    <button class="theme__button">
      <svg class="theme__icon" width="30" height="30">
        <use href="./images/sprite.svg#icon-contrast"></use>
      </svg>
    </button>
  </div>

  <!-- Navigation -->
  <ul class="right-aside__navigations navigations">
    <li class="navigations__item">
      <a class="navigations__link" href="#hero">
        <svg class="navigations__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-home"></use>
        </svg>
      </a>
      <span class="navigations__label">Home</span>
    </li>
    <li class="navigations__item">
      <a class="navigations__link" href="#service">
        <svg class="navigations__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-services"></use>
        </svg>
      </a>
      <span class="navigations__label">Service</span>
    </li>
    <li class="navigations__item">
      <a class="navigations__link" href="#cv">
        <svg class="navigations__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-cv"></use>
        </svg>
      </a>
      <span class="navigations__label">CV</span>
    </li>
    <li class="navigations__item">
      <a class="navigations__link" href="#portfolio">
        <svg class="navigations__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-portfolio"></use>
        </svg>
      </a>
      <span class="navigations__label">Portfolio</span>
    </li>
    <li class="navigations__item">
      <a class="navigations__link" href="#contact">
        <svg class="navigations__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-contact"></use>
        </svg>
      </a>
      <span class="navigations__label">Contact</span>
    </li>
  </ul>
</aside>
