<section class="section services" id="service">
  <h2 class="services__title">my services</h2>
  <p class="services__description">"Not everything is a bug that doesn't work."</p>

  <!-- List -->
  <ul class="services__list">
    <li class="services__item">
      <svg class="services__icon" width="68" height="68">
        <use href="./images/sprite.svg#icon-coding"></use>
      </svg>
      <h3 class="services__subtitle">Web Development</h3>
      <div class="services__overlay">
        <h4 class="services__name">Web Development</h4>
        <p class="services__detalis">
          Development of web projects of different levels of complexity. Development of the
          front-end part of the application.
        </p>
      </div>
    </li>
    <li class="services__item">
      <svg class="services__icon" width="68" height="68">
        <use href="./images/sprite.svg#icon-illustration"></use>
      </svg>
      <h3 class="services__subtitle">UI/UX Design</h3>
      <div class="services__overlay">
        <h4 class="services__name">UI/UX Design</h4>
        <p class="services__detalis">
          Creating a simple, accessible and pleasant to use interface.
        </p>
      </div>
    </li>
    <li class="services__item">
      <svg class="services__icon" width="74" height="74">
        <use href="./images/sprite.svg#icon-logika"></use>
      </svg>
      <h3 class="services__subtitle">Modular code</h3>
      <div class="services__overlay">
        <h4 class="services__name">Modular code</h4>
        <p class="services__detalis">
          I will write understandable and accessible code that will be easy to read and refactor.
        </p>
      </div>
    </li>
  </ul>
</section>
