<section class="section services" id="service">
  <h2 class="services__title">my services</h2>
  <p class="services__description">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
    consequat duis enim velit mollit. lorem ipsum
  </p>

  <!-- List -->
  <ul class="services__list">
    <li class="services__item">
      <svg class="services__icon" width="68" height="68">
        <use href="./images/sprite.svg#icon-coding"></use>
      </svg>
      <h3 class="services__subtitle">Web Development</h3>
      <p class="services__text">blog, e-commerce</p>
      <div class="services__overlay">
        <h4 class="services__name">Web Development</h4>
        <p class="services__detalis">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a
          urna viverra morbi.
        </p>
        <a class="services__link" href="#">
          ORDER NOW
          <svg class="services__btn-ico" width="20" height="20">
            <use href="./images/sprite.svg#icon-right"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="services__item">
      <svg class="services__icon" width="68" height="68">
        <use href="./images/sprite.svg#icon-illustration"></use>
      </svg>
      <h3 class="services__subtitle">UI/UX Design</h3>
      <p class="services__text">Mobile app, website design</p>
      <div class="services__overlay">
        <h4 class="services__name">UI/UX Design</h4>
        <p class="services__detalis">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a
          urna viverra morbi.
        </p>
        <a class="services__link" href="#">
          ORDER NOW
          <svg class="services__btn-ico" width="20" height="20">
            <use href="./images/sprite.svg#icon-right"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="services__item">
      <svg class="services__icon" width="74" height="74">
        <use href="./images/sprite.svg#icon-microphone"></use>
      </svg>
      <h3 class="services__subtitle">Sound Design</h3>
      <p class="services__text">Voice Over, Beat Making</p>
      <div class="services__overlay">
        <h4 class="services__name">Sound Design</h4>
        <p class="services__detalis">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a
          urna viverra morbi.
        </p>
        <a class="services__link" href="#">
          ORDER NOW
          <svg class="services__btn-ico" width="20" height="20">
            <use href="./images/sprite.svg#icon-right"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="services__item">
      <svg class="services__icon" width="74" height="74">
        <use href="./images/sprite.svg#icon-game"></use>
      </svg>
      <h3 class="services__subtitle">Game Design</h3>
      <p class="services__text">Character Design, Props & Objects</p>
      <div class="services__overlay">
        <h4 class="services__name">Game Design</h4>
        <p class="services__detalis">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a
          urna viverra morbi.
        </p>
        <a class="services__link" href="#">
          ORDER NOW
          <svg class="services__btn-ico" width="20" height="20">
            <use href="./images/sprite.svg#icon-right"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="services__item">
      <svg class="services__icon" width="78" height="78">
        <use href="./images/sprite.svg#icon-photographer"></use>
      </svg>
      <h3 class="services__subtitle">Photography</h3>
      <p class="services__text">portrait, product photography</p>
      <div class="services__overlay">
        <h4 class="services__name">Photography</h4>
        <p class="services__detalis">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a
          urna viverra morbi.
        </p>
        <a class="services__link" href="#">
          ORDER NOW
          <svg class="services__btn-ico" width="20" height="20">
            <use href="./images/sprite.svg#icon-right"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="services__item">
      <svg class="services__icon" width="74" height="74">
        <use href="./images/sprite.svg#icon-ad"></use>
      </svg>
      <h3 class="services__subtitle">Advertising</h3>
      <p class="services__text">Lorem ipsum dolor sit amet</p>
      <div class="services__overlay">
        <h4 class="services__name">Advertising</h4>
        <p class="services__detalis">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a
          urna viverra morbi.
        </p>
        <a class="services__link" href="#">
          ORDER NOW
          <svg class="services__btn-ico" width="20" height="20">
            <use href="./images/sprite.svg#icon-right"></use>
          </svg>
        </a>
      </div>
    </li>
  </ul>
</section>
