<section class="section work" id="experience">
  <h2 class="work__title">Work History</h2>
  <p class="work__description">"Work - you will be full; study - you will be smart."</p>

  <!-- List -->
  <ul class="work__list">
    <li class="work__item">
      <div class="work__left">
        <h3 class="work__name">Operator of the injection moulding machine</h3>
        <div class="work__group">
          <span class="work__interval">Sep 2019 - now</span>
        </div>
      </div>
      <div class="work__right">
        <h4 class="work__name">ASG Poland S.A</h4>
      </div>
    </li>
    <li class="work__item">
      <div class="work__left">
        <h3 class="work__name">Operator installer</h3>
        <div class="work__group">
          <span class="work__interval">Jun 2017 - Sep 2019</span>
        </div>
      </div>
      <div class="work__right">
        <h4 class="work__name">Kongsberg Automotive</h4>
      </div>
    </li>
    <li class="work__item">
      <div class="work__left">
        <h3 class="work__name">Co-packing</h3>
        <div class="work__group">
          <span class="work__interval">Jul 2015 - May 2017</span>
        </div>
      </div>
      <div class="work__right">
        <h4 class="work__name">Kuehne + Nagel Sp. z o.o.</h4>
      </div>
    </li>
  </ul>
</section>
