<section class="work">
  <h2 class="work__title">Work History</h2>
  <p class="work__description">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
    consequat duis enim velit mollit. lorem ipsum
  </p>

  <!-- List -->
  <ul class="work__list">
    <li class="work__item">
      <div class="work__left">
        <h3 class="work__name">Lead Web Designer</h3>
        <div class="work__group">
          <span class="work__status">Student</span>
          <span class="work__interval">Jan 1016 - Dec 2021</span>
        </div>
      </div>
      <div class="work__right">
        <h4 class="work__name">Certificate of web training</h4>
        <p class="work__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus nibh ut faucibus
          nunc, egestas id amet porttitor. Pulvinar quisque sed amet, nulla nunc. Eleifend sodales
          posuere fusce tempus etiam et pellentesque. Molestie risus enim neque eget dui.
        </p>
      </div>
    </li>
    <li class="work__item">
      <div class="work__left">
        <h3 class="work__name">Lead Web Designer</h3>
        <div class="work__group">
          <span class="work__status">Student</span>
          <span class="work__interval">Jan 1016 - Dec 2021</span>
        </div>
      </div>
      <div class="work__right">
        <h4 class="work__name">Certificate of web training</h4>
        <p class="work__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus nibh ut faucibus
          nunc, egestas id amet porttitor. Pulvinar quisque sed amet, nulla nunc. Eleifend sodales
          posuere fusce tempus etiam et pellentesque. Molestie risus enim neque eget dui.
        </p>
      </div>
    </li>
    <li class="work__item">
      <div class="work__left">
        <h3 class="work__name">Lead Web Designer</h3>
        <div class="work__group">
          <span class="work__status">Student</span>
          <span class="work__interval">Jan 1016 - Dec 2021</span>
        </div>
      </div>
      <div class="work__right">
        <h4 class="work__name">Certificate of web training</h4>
        <p class="work__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus nibh ut faucibus
          nunc, egestas id amet porttitor. Pulvinar quisque sed amet, nulla nunc. Eleifend sodales
          posuere fusce tempus etiam et pellentesque. Molestie risus enim neque eget dui.
        </p>
      </div>
    </li>
  </ul>
</section>
