.hero {
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../images/hero/hero1@1x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.hero__meta {
  @media screen and (min-width: $tablet) {
    width: 500px;
    margin-right: 20px;
  }
}

.hero__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.24;

  color: var(--second-text-color);
  margin-bottom: 18px;

  &--color {
    color: var(--accent-bg-color);
  }

  @media screen and (min-width: $tablet) {
    font-size: 36 px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 48px;
  }
}

.hero__description {
  font-size: 14px;
  line-height: 1.5;
  text-transform: capitalize;

  color: var(--main-text-color);
  margin-bottom: 25px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}

.hero__link {
  @extend %button;
  width: 154px;
  height: 51px;

  @media screen and (max-width: 1439px) {
    margin: 0 auto;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 25px;
  }
}

.hero__icon {
  fill: currentColor;
}

.hero__wrapper {
  @media screen and (min-width: $tablet) {
    width: 325px;
  }
}

.hero__image {
  width: 280px;
}
