@import './form';

.contacts {
  @media screen and (min-width: $desktop) {
    width: 970px;
  }
}

.contacts__group {
  justify-content: space-between;
  margin-bottom: 70px;

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.contacts__maps {
  width: 300px;
  height: 300px;

  @media screen and (min-width: $tablet) {
    width: 748px;
  }

  @media screen and (min-width: $desktop) {
    width: 950px;
  }
}

.contacts__left {
  @media screen and (min-width: $tablet) {
    width: 420px;
  }

  @media screen and (min-width: $desktop) {
    width: 570px;
  }
}

.contacts__right {
  @media screen and (min-width: $desktop) {
    width: 360px;
  }
}

.contacts__title {
  @extend %title;
  text-align: left;
  margin-bottom: 50px;
}

.contacts__item {
  padding: 15px 25px 15px 25px;
  margin-bottom: 20px;

  background-color: var(--second-bg-color);

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  margin-left: 50%;
  margin-bottom: 30px;
  transform: translateX(-50%);

  background-color: var(--accent-bg-color);
  border-radius: 50%;
}

.contacts__icon {
  fill: currentColor;
}

.contacts__subitem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.24;
  text-transform: capitalize;
  color: var(--main-text-color);
}

.contacts__link {
  font-size: 15px;
  line-height: 1.6;

  color: var(--main-text-color);
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.contacts__value {
  font-size: 15px;
  line-height: 1.6;
  color: var(--main-text-color);
}
